*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


/*Color de fondo Módulo Ingreso*/
body{
    background-color: #000;
}
/*Color letra Titulos*/
h1{
    color: #fff;
}
/*Barra de navegación (navbar)*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
/*Formato Horizontal navbar*/
li{
    float: left;
}
/*Texto navbar*/
li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;    
}
/*Cambio de color botones*/
li a:hover:not(.index) {
    background-color: #2ecece;
}



/*Registro Datos*/
.containerprincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px; 
}
/*Ingreso datos*/
input{
    outline: 0;
    background-color: white;
    width: 100%;
    border: 0;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    box-shadow: 0 0 8px gray; 
}
label{
    color: #fff;
}
/*botón*/
.Boton{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #2ecece;
    width: 90%;
    border: 0;
    padding: 15px;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: 0.3 ease;
    cursor: pointer;
    box-shadow: 0 0 5px white; 
}
/*Tabla de Registro*/
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #000;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #2ecece; 
}